body {
  font-family: serif;
  text-align: center;
  background-color: #f5f0f0;
  padding: 40px;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: auto;
}

.timer {
  font-size: 3em;
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 1em;
  width: 80%;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

#Leaderboard {
  text-align: left;
  margin-top: 10px;
}

.chore-block {
  margin-bottom: 15px;
}

.chore-block h3 {
  margin: 5px 0;
  font-size: 1.1em;
}

.chore-block ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
